---
---

.is-what-ive-been-working-on {
	position: relative;
}

nav {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent !important;
	z-index: 1;
}

.project,
.post {
	display: flex;
	flex-direction: column;
}

.project {
	justify-content: space-between;
}

.is-project-bottom {
	padding-top: 30px;
}

.is-project-name,
.is-post-name {
	margin-bottom: 5px !important;
}

.is-project-technologies {
	margin-bottom: 5px;
}

.more-ramblings {
	padding-bottom: 10px;
	text-align: center;
}
