/* body {
	background: linear-gradient(310deg, #00F0FF 0%, #00F0FF 20%, #0017E3 calc(20% + 1px), #0017E3 40%, #000F8F calc(40% + 1px), #000F8F 70%, #00073F calc(70% + 1px), #00073F 100%), linear-gradient(285deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
	background-blend-mode: exclusion, normal;
} */

.is-what-ive-been-working-on {
	position: relative;
}

nav {
	position: absolute !important;
	top: 0;
	left: 0;
	right: 0;
	background-color: transparent !important;
	z-index: 1;
}

/* .is-what-ive-been-working-on::before {
	content: '';
	display: block;
	position: absolute;
	top: -100px;
	left: 0;
	width: 100%;
	height: 100px;
	background-color: white;
	z-index: 99;
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
} */

.project {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.is-project-bottom {
	padding-top: 30px;
}

.is-project-name {
	margin-bottom: 5px !important;
}

.is-project-technologies {
	margin-bottom: 5px;
}