.headerText {
    float: left;
    padding-top: 30vh;
}
.headerButtons {
    float: right;
    text-align: right;
}
.top {
    height: 100vh;
    background-image: url(../img/header.jpg);
    color: white;
    background: #348F50;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top left, #56B4D3, #348F50);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top left, #56B4D3, #348F50); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.hint {
    opacity: .5;
}

#loadingRecents {
    text-align: center;
}

.hidden {
    display: none;
}

.recentItems {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.activitycard {
    max-width: 200px !important;

    /* min-height: 400px; */
    margin-right: 10px;
}

.projectcard {

    /* min-height: 400px; */
    margin-right: 10px;
    height: 100%
}

.navWrapper {
    background: #348F50;  /* fallback for old browsers */
}

.small-card {
    margin: 0, 0, 0, 0;
}