.is-top-hero {
	color: white;
	background: linear-gradient(310deg, #00F0FF 0%, #00F0FF 20%, #0017E3 calc(20% + 1px), #0017E3 40%, #000F8F calc(40% + 1px), #000F8F 70%, #00073F calc(70% + 1px), #00073F 100%), linear-gradient(285deg, #FFB6B9 0%, #FFB6B9 35%, #FAE3D9 calc(35% + 1px), #FAE3D9 45%, #BBDED6 calc(45% + 1px), #BBDED6 65%, #61C0BF calc(65% + 1px), #61C0BF 100%);
	background-blend-mode: exclusion, normal;
}

.content>.embed {
	width: 100%
}

html, body, input, textarea, button {
	font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, .title, .subtitle, .heading, .navbar-brand, strong, label, .label, .tag {
	font-family: 'Nunito', sans-serif;
	font-weight: 300;
}

/* .post-details {
	color: #;
} */

[class|="technology"] {
	color: #cccccc;
}

.technology-node-js {
	color: #026e00;
}

.technology-react {
	color: #00c8ff;
}

.technology-java {
	color: #b07219;
}

.technology-html {
	color: #e34c26;
}

.technology-css {
	color: #563d7c;
}

.technology-js, .technology-javascript {
	color: #f1e05a;
}

.technology-arduino {
	color: #00979d;
}

.technology-dart {
	color: #02589b;
}

.technology-flutter {
	color: #5ec9f8;
}

.technology-react-native {
	color: #00c8ff;
}

.technology-go {
	color: #7fd5ea;
}

.technology-preact {
	color: #673ab8;
}

.technology-webextensions {
	color: #a6f099;
}

.technology-python {
	color: #ffd242;
}

.technology-cpp {
	color: #f34b7d;
}

.technology-cs {
	color: #178600
}

.technology-typescript {
	color: #2b7489
}

div.highlight {
	margin-bottom: 16px
}

.fa-ul {
	list-style-type: none !important;
}

a.footnote:before {
	content: "[";
}

a.footnote:after {
	content: "]";
}

.excerpt .footnote, .excerpt .footnotes {
	display: none
}

.footnotes {
	margin-top: 40px;
	font-size: 1rem;
}

.container.post, .narrow {
	max-width: 720px;
}

.container.post {
	font-size: 1.2rem;
}

.feedLink {
	color: white;
}

.content audio {
	width: 100%;
}