---
---

.is-top-hero {
	color: white;
	background: linear-gradient(
			310deg,
			#00f0ff 0%,
			#00f0ff 20%,
			#0017e3 calc(20% + 1px),
			#0017e3 40%,
			#000f8f calc(40% + 1px),
			#000f8f 70%,
			#00073f calc(70% + 1px),
			#00073f 100%
		),
		linear-gradient(
			285deg,
			#ffb6b9 0%,
			#ffb6b9 35%,
			#fae3d9 calc(35% + 1px),
			#fae3d9 45%,
			#bbded6 calc(45% + 1px),
			#bbded6 65%,
			#61c0bf calc(65% + 1px),
			#61c0bf 100%
		);
	background-blend-mode: exclusion, normal;
}

.is-top-hero {
	.hero-body {
		.container {
			.columns {
				.column {
					display: flex;
					flex-direction: column;
					justify-content: center;
				}
			}
		}
	}
}

.content {
	.embed {
		iframe {
			width: 100%;
			height: 700px;
		}
	}

	pre {
		code {
			font-size: 1em;
		}
	}

	code {
		font-size: 0.75rem;
	}
}

html,
body,
input,
textarea,
button {
	font-family: "Crimson Text", serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.title,
.subtitle,
.heading,
.navbar-brand,
strong,
label,
.label,
.tag {
	font-family: "Nunito", sans-serif;
	font-weight: 300;
}

/* .post-details {
	color: #;
} */

[class|="technology"] {
	color: #cccccc;
}

.technology-node-js {
	color: #026e00;
}

.technology-react {
	color: #00c8ff;
}

.technology-java {
	color: #b07219;
}

.technology-html {
	color: #e34c26;
}

.technology-css {
	color: #563d7c;
}

.technology-js,
.technology-javascript {
	color: #f1e05a;
}

.technology-arduino {
	color: #00979d;
}

.technology-dart {
	color: #02589b;
}

.technology-flutter {
	color: #5ec9f8;
}

.technology-react-native {
	color: #00c8ff;
}

.technology-go {
	color: #7fd5ea;
}

.technology-preact {
	color: #673ab8;
}

.technology-webextensions {
	color: #a6f099;
}

.technology-python {
	color: #ffd242;
}

.technology-cpp {
	color: #f34b7d;
}

.technology-cs {
	color: #178600;
}

.technology-typescript {
	color: #2b7489;
}

div.highlight {
	margin-bottom: 16px;
}

.fa-ul {
	list-style-type: none !important;
}

.excerpt {
	p {
		display: inline;
	}

	blockquote:before {
		content: '"';
	}

	blockquote:after {
		content: '"';
	}

	.footnote,
	.footnotes {
		display: none;
	}
}

.footnotes {
	margin-top: 40px;
	font-size: 1rem;
}

.container.post,
.narrow {
	max-width: 720px !important;
}

.container.post {
	font-size: 1.2rem;
}

.feedLink {
	color: white;
}

.content audio {
	width: 100%;
}

.navbar-end {
	display: flex;
	flex-direction: row;
}

.equation {
	margin: 30px;
	text-align: center;

	.katex {
		margin: auto;
	}
}

.post-image {
	width: initial;
	margin: 0.5rem;

	img {
		width: initial;
	}

	figcaption {
		font-style: italic;
		margin-top: 0.5rem;
		text-align: center;
	}
}

.post-image-left {
	float: left;
	clear: left;
}
.post-image-center {
	a {
		text-align: center;
	}
}
.post-image-right {
	float: right;
	clear: right;
}
