<div class="footer bg-primary text-light">
	<div class="container">
		<h3>William Barkoff</h3>
		<div class="row">
			<div class="col-md-4">
				<p class="lead footer-lead">
					High schooler by day, web developer by night. I'm indecisive at dusk.
				</p>
				<p class="footer-icons">
					{% for link in site.footer-social %}
					<a href="{{ link.url }}">
						<span class="fa-stack fa-sm footer-icons">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa {{ link.icon }} fa-stack-1x"></i>
						</span>
					</a>
					{% endfor %}
				</p>
			</div>
			<div class="col-md-4 footer-ln-left">
				<strong>Projects</strong>
				<ul class="list-unstyled">
					{% for project in site.footer-projects%}
					<li>
						<a href="{{ project.url }}">{{ project.name }}</a>
					</li>
					{% endfor %}
					<li><a href="/">More...</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-ln-left">
				<ul class="list-unstyled">
					{% for link in site.footer-links%}
					<li>
						<a href="{{ link.url }}">{{ link.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
	</div>
</div>
