<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/rellax@1.10.0/rellax.min.js"
	integrity="sha256-jyHh7xruaFLUoKPPnsSwEvYrBnzJczScRNnuh4Ysblc=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
{%- capture littlefoot-template -%}
{% include footnote-button.html %}
{%- endcapture -%}
<script type="application/javascript">
	littlefoot.littlefoot({
		buttonTemplate: '{{littlefoot-template | strip_newlines}}'
	})
</script>
<script src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.js"
	integrity="sha384-g7c+Jr9ZivxKLnZTDUhnkOnsh30B4H0rpLUpJ4jAIKs4fnJI+sEnkvrMWph2EDg4"
	crossorigin="anonymous"></script>
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/contrib/auto-render.min.js"
	integrity="sha384-mll67QQFJfxn0IYznZYonOWZ644AWYC+Pt2cHqMaRhXVrursRwvLnLaebdGIlYNa" crossorigin="anonymous" onload='renderMathInElement(document.body, {delimiters: [
		{left: "$$", right: "$$", display: true},
		{left: "$", right: "$", display: false},
		{left: "\\(", right: "\\)", display: false},
		{left: "\\[", right: "\\]", display: true}
	  ]});'></script>

<script src="/js/page.js"></script>

{% if page.js %}
{% for script in page.js %}
<script src="{{script}}"></script>
{% endfor %}
{% endif %}