<div class="footer bg-primary text-light">
	<div class="container">
		<h3>William Barkoff</h3>
		<div class="row">
			<div class="col-md-4">
				<p class="lead footer-lead">
					{{ site.tagline }}
				</p>
				<p class="footer-icons">
					{% for link in site.footer-social %}
					<a href="{{ link.url }}">
						<span class="fa-stack fa-sm footer-icons">
							<i class="fa fa-circle-thin fa-stack-2x"></i>
							<i class="fa {{ link.icon }} fa-stack-1x"></i>
						</span>
					</a>
					{% endfor %}
				</p>
			</div>
			<div class="col-md-4 footer-ln-left">
				<strong>Projects</strong>
				<ul class="list-unstyled">
					{% for project in site.footer-projects %}
					<li>
						<a href="{{ project.url }}">{{ project.name }}</a>
					</li>
					{% endfor %}
					<li><a href="/#projects">More...</a></li>
				</ul>
			</div>
			<div class="col-md-4 footer-ln-left">
				<strong>Resources</strong>
				<ul class="list-unstyled">
					{% for link in site.footer-resources %}
					<li>
						<a href="{{ link.url }}">{{ link.name }}</a>
					</li>
					{% endfor %}
				</ul>
			</div>
		</div>
		<hr />
		<p>
			<small class="footer-disclaimer">
				{% github_edit_link "Suggest an edit to this page" %}
			</small>
		</p>
	</div>
</div>
