<footer class="footer">
    <div class="container">
        <h1 class="title">{{ site.title }}</h1>
        <div class="columns">
            <div class="column is-one-third">
                <h2 class="subtitle">{{ site.tagline }}</h2>
                {% for link in site.footer-social %}
                <a href="{{ link.url }}">
                    <span class="fa-stack fa-sm footer-icons">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa {{ link.icon }} fa-stack-1x"></i>
                    </span>
                </a>
                {% endfor %}
            </div>
            <div class="column is-one-third">
                <strong class="heading">Projects</strong>
                <ul>
                    {% for project in site.footer-projects %}
                    <li>
                        <a href="{{ project.url }}">{{ project.name }}</a>
                    </li>
                    {% endfor %}
                    <li><a href="/#projects">More...</a></li>
                </ul>
            </div>
            <div class="column is-one-third">
                <strong class="heading">Resources</strong>
                <ul>
                    {% for link in site.footer-resources %}
                    <li>
                        <a href="{{ link.url }}">{{ link.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <hr />
        <small>{% github_edit_link "Suggest an edit to this page" %}. Content on this site, with the exception of
            posts, is licensed under the <a href="/licenses/cc-by.html">Creative Commons Attribution 4.0 International
                License</a>. Posts are licensed differently, check in the footer of the post for license details. This
            site is <a href="https://github.com/willbarkoff/willbarkoff.github.io">open source</a>, and any code is <a
                href="/licenses/mit.html">MIT licensed</a>.</small>
    </div>
</footer>