<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
	{% if page.url != '/' %}{{ page.title }} | {% endif %}Will Barkoff
</title>

<!-- Scripts -->
<script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>


<!-- Styles -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wikiki/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css"
	integrity="sha256-XHnRKkCzUyquwVn6oLhf09UA4ZJGd2G3HgvaD9BPMHY=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.12.0/dist/katex.min.css"
	integrity="sha384-AfEj0r4/OFrOo5t7NnNe46zW/tFgW6x/bCJG8FqQCEo3+Aro6EYUG4+cU+KJWu/X" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/littlefoot/dist/littlefoot.css" />
<link rel="stylesheet" href="/css/page.css">
<link rel="stylesheet" href="/css/highlight.css">
<link
	href="https://fonts.googleapis.com/css2?family=Lexend:ital,wght@0,400;0,700;1,200&family=JetBrains+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap"
	rel="stylesheet">
{% if page.layout == "post" %}
<link rel="stylesheet" href="/css/post.css">
{% endif %}

<!-- Meta -->
<meta name="theme-color" content="#123456" />
{% seo title=false %}

<!-- Feed -->
{% feed_meta %}