<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css"
	integrity="sha256-D9M5yrVDqFlla7nlELDaYZIpXfFWDytQtiV+TaH6F1I=" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/Wikiki/bulma-tooltip@3.0.2/dist/css/bulma-tooltip.min.css"
	integrity="sha256-XHnRKkCzUyquwVn6oLhf09UA4ZJGd2G3HgvaD9BPMHY=" crossorigin="anonymous">
<script defer src="https://use.fontawesome.com/releases/v5.13.0/js/all.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.13.0/js/v4-shims.js"></script>
<link rel="stylesheet" href="/css/page.css">
<title>
	{% if page.url != '/' %}{{ page.title }} | {% endif %}Will Barkoff
</title>

<!-- Primary Meta Tags -->
<meta name="title" content="Will Barkoff">
<meta name="description"
	content="I'm Will Barkoff, a high schooler by day and a developer by night. I'm indecisive at dusk. ">
<meta name="author" content="Will Barkoff">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://willbarkoff.dev/">
<meta property="og:title" content="Will Barkoff">
<meta property="og:description"
	content="I'm Will Barkoff, a high schooler by day and a developer by night. I'm indecisive at dusk. ">
<meta property="og:image" content="/img/bg.svg">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://willbarkoff.dev/">
<meta property="twitter:title" content="Will Barkoff">
<meta property="twitter:description"
	content="I'm Will Barkoff, a high schooler by day and a developer by night. I'm indecisive at dusk. ">
<meta property="twitter:image" content="/img/bg.svg">