{% assign current_url = page.url %}
<nav class="navbar {% if current_url == '/' or include.transparentnav %} is-dark is-transparent {% endif %} is-spaced">
    <div class="navbar-brand">
        <a href="/" class="navbar-item">
            <strong>Will Barkoff</strong>
        </a>
        <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            {% for page in site.nav-links %}
            <a class="navbar-item {% if page.url == current_url %}is-active{% endif %}" href="{{ page.url }}">
                {{ page.title }}
            </a>
            {% endfor %}
        </div>

        <div class="navbar-end">
            {% for link in site.footer-social %}
            <a class="navbar-item has-tooltip-bottom" data-tooltip="{{ link.username }}" href="{{ link.url }}">
                <span class="fa-stack fa-sm footer-icons">
                    <i class="far fa-circle fa-stack-2x"></i>
                    <i class="{{ link.icon }} fa-stack-1x"></i>
                </span>
            </a>
            {% endfor %}
        </div>
    </div>
</nav>