@import "./bulma/sass/utilities/initial-variables.sass"

$family-sans-serif: "Lexend", BlinkMacSystemFont,-apple-system,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif
$family-monospace: "JetBrains Mono", "Ubuntu Mono", "Space Mono", monospaced
$blue: #415c77
$navy: #123456
$primary: $navy

@import "./bulma/bulma.sass"
