<div class="columns">
	<div class="column">
		<strong>What you can do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Quote the piece</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Copy and distribute the peice in any
				medium or format</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you can't do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-times-circle"></i></span> Modify the piece and distribute your
				modified version</li>
			<li><span class="fa-li"><i class="fas fa-times-circle"></i></span> Sell or use the quote or work for
				commercial purposes</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you must do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>Attribute the work</li>
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>Provide a link to the license</li>
		</ul>
	</div>
</div>
<small><strong>This human-readable summary is not a legal notice!</strong> The above is meant as a quick reference and
	you'll probably want to read the full license, shown below.</small>