<div class="columns">
	<div class="column">
		<strong>What you can do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Quote the piece</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Modify the piece</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Copy and distribute the peice or a
				modified version of it in any medium or format</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Sell the piece, or a modified version of
				it</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you can't do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-times-circle"></i></span> Attempt to legally or technologically
				prevent others from doing anything that the license permits.</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you must do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>Attribute the work</li>
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>Include a link to the license</li>
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>Indicate if you made changes</li>
		</ul>
	</div>
</div>
<small><strong>This human-readable summary is not a legal notice!</strong> The above is meant as a quick reference and
	you'll probably want to read the full license, shown below.</small>