<div class="columns">
	<div class="column">
		<strong>What you can do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Make your own version and sell it</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Give other people your version</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Make changes in your version</li>
			<li><span class="fa-li"><i class="fas fa-check-circle"></i></span> Use your version privately</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you can't do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-times-circle"></i></span> Hold the licensor responsible if your
				version breaks or something goes wrong</li>
			<li><span class="fa-li"><i class="fas fa-times-circle"></i></span> Make the licensor fix your version if it
				breaks</li>
		</ul>
	</div>
	<div class="column">
		<strong>What you must do</strong>
		<ul class="fa-ul">
			<li><span class="fa-li"><i class="fas fa-exclamation-circle"></i></span>
				Include a copy of the license below in your product
			</li>
		</ul>
	</div>
</div>
<small><strong>This human-readable summary is not a legal notice!</strong> The above is meant as a quick reference and
	you'll probably want to read the full license, shown below.</small>