<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<link rel="stylesheet" href="css/home.css">
</head>

<body>
	{% include nav.html %}
	<section class="hero is-medium is-top-hero">
		<div class="hero-body">
			<div class="container">
				<div class="columns">
					<div class="column is-two-thirds">
						<h1 class="title greeting has-text-white">
							👋 Hi
						</h1>
						<h2 class="subtitle has-text-white">
							{{site.tagline}}
						</h2>
					</div>
					<div class="column is-one-third">
						<div class="box">
							<ul>
								<li data-tooltip="Ann S. Bowers College of Computing and Information Science"
									class="has-tooltip-top">
									<i class="fas fa-map-pin fa-fw"></i>
									<a href="https://cs.cornell.edu/">Cornell Engineering</a>, Ithaca, NY
								</li>
								<li>
									<i class="fas fa-envelope fa-fw"></i>
									<a href="mailto:william@barkoffusa.com">william@barkoffusa.com</a>
								</li>
								<li>
									<i class="fab fa-github fa-fw"></i>
									<a href="https://github.com/willbarkoff">@willbarkoff</a>
								</li>
								<li>
									<i class="fab fa-twitter fa-fw"></i>
									<a href="https://twitter.com/willbarkoff">@willbarkoff</a>
								</li>
								<li>
									<i class="fas fa-key fa-fw"></i> <a href="/key.html">PGP Key</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<div class="section is-what-ive-been-working-on" id="projects">
		<div class="container">
			<h1 class="title">What I've written recently</h1>
			<div class="columns">
				{% for post in site.posts limit:3 %}
				<div class="column is-one-third">
					<p class="title is-4 is-post-name mb-2"><a href="{{post.url}}">{{post.title}}</a></p>
					<div class="excerpt">{{post.excerpt}}</div>
				</div>
				{% endfor %}
			</div>
			<div class="has-text-centered">
				<p class="is-size-4"><a href="/posts"><i class="far fa-comments"></i> More posts &raquo;</a>
				</p>
			</div>
			<h1 class="title">What I've been working on</h1>

			<div class="columns is-multiline">
				{% for experience in site.data.experiences %}
				<div
					class="column project {% if experience.style == 'bigfeature' %} is-full {% elsif experience.style == 'feature' %} is-half {% else %} is-one-third {% endif %}">
					<div
						class="columns {% if experience.style == 'bigfeature' or experience.style == 'feature' %} card my-2 {% endif %}">
						{% if experience.style == 'bigfeature' or experience.style == 'feature' and experience.image %}
						<div class="column is-one-third">
							<div class="image">
								<img src="{{experience.image}}" class="">
							</div>
						</div>
						{% endif %}
						<div class="column m-0 auto">
							<h2 class="title {% if experience.style == 'standard' %}is-5{% else %}is-4{% endif %}">
								{{experience.title}}</h2>
							<h2
								class="subtitle mb-1 {% if experience.style == 'standard' %}is-5{% else %}is-4{% endif %}">
								{{experience.subtitle}}</h2>
							{% for award in experience.awards %}
							<p><i class="fas fa-fw fa-trophy"></i> {{ award }}</p>
							{% endfor %}
							{% for collab in experience.collaborators %}
							<p><i class="fas fa-fw fa-users"></i> Collaborated with {% if collab.url %}<a
									href="{{collab.url}}">{%
									endif%}{{collab.name}}{% if collab.url %}</a>{% endif%}</p>
							{% endfor %}
							<p class="is-project-technologies">
								{% for skill in experience.skills %}
								<span class="inline-list-item"><i
										class="fas fa-fw fa-circle technology-{{ skill | split: " (" | first | strip |
										replace: "+" , "p" | replace: "#" , "s" | replace: " " , "-" | replace: "."
										, "-" | downcase }}"></i>
									{{skill}}
								</span>
								{% endfor %}
							</p>

							<p class="content">
								{{experience.description | markdownify | smartify}}
							</p>

							<div class="buttons mt-3">
								{% for link in experience.links %}
								<a href="{{link.url}}" class="button">{{link.text}}</a>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	{% include footer.html %}
	{% include foot.html %}
	<script src="js/home.js"></script>
</body>

</html>