<!DOCTYPE html>
<html lang="en">

<head>
	{% include head.html %}
	<link rel="stylesheet" href="css/home.css">
</head>

<body>
	{% include nav.html %}
	<section class="hero is-large is-top-hero">
		<div class="hero-body">
			<div class="container rellax">
				<h1 class="title greeting has-text-white">
					👋 Hi
				</h1>
				<h2 class="subtitle has-text-white">
					{{site.tagline}}
				</h2>
			</div>
		</div>
	</section>
	<div class="section is-what-ive-been-working-on" id="projects">
		<div class="container">
			<h1 class="title">What I've been working on</h1>
			{% assign rows = site.projects.size | divided_by: 3.0 | ceil %}
			{% for i in (1..rows) %}
			{% assign offset = forloop.index0 | times: 3 %}
			<div class="tile is-ancestor">
				{% for project in site.projects limit:3 offset:offset %}
				<div class="tile is-parent">
					<article class="tile is-child box project">
						<div class="is-project-top">
							<p class="title is-project-name">{{ project.name }}</p>
							{% if project.awards %}
							<p class="lead"><i class="fa fa-fw fa-trophy"></i> {{ project.awards }}</p>
							{% endif %}
							{% if project.collaborators %}
							<p class="lead">
								<i class="fa fa-fw fa-user"></i> {{ project.collaborators }}
							</p>
							{% endif %}
							{% if project.license %}
							<p class="lead">
								<i class="fa fa-fw fa-bank"></i> {{ project.license }}
							</p>
							{% endif %}
							{% if project.retired %}<p class="lead"><i class="fa fa-fw fa-info"></i> Retired Project</a>
							</p>
							{% endif %}
							<p class="is-project-technologies">
								{% for technology in project.technologies %}
								<span class="inline-list-item"><i
										class="fa fa-fw fa-circle technology-{{technology | slugify: "ascii"}}"></i>
									{{technology}}
								</span>
								{% endfor %}
							</p>
							<div class="content">
								<p>{{ project.description }}</p>
							</div>
						</div>
						<div class="is-project-bottom">
							{% if project.technologies %}
							{% endif %}
							{% if project.website %}
							<a href="{{ project.website }}" class="button">Website</a>
							{% endif %}
							{% if project.download %}
							<a href="{{ project.download }}" class="button">Download</a>
							{% endif %}
							{% if project.source %}
							<a href="{{ project.source }}" class="button">View Source</a>
							{% endif %}
						</div>
					</article>
				</div>
				{% endfor %}
			</div>
			{% endfor %}
		</div>
	</div>
	{% include footer.html %}
	{% include foot.html %}
	<script src="js/home.js"></script>
	<script>
		// Accepts any class name
		var rellax = new Rellax('.rellax');
	</script>
</body>

</html>