<!DOCTYPE html>
<html lang="en">

<head>
    {% include head.html %}
</head>

<body>
    {% include nav.html %}
    <section class="hero is-top-hero">
        <div class="hero-body">
            <div class="container">
                <h1 class="title greeting has-text-white">
                    {{page.name}}
                </h1>
                <h2 class="subtitle has-text-white">
                    {{page.description}}
                </h2>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            {% if page.awards %}
            <p class="lead"><i class="fa fa-fw fa-trophy"></i> {{ page.awards }}</p>
            {% endif %}
            {% if page.collaborators %}
            <p class="lead">
                <i class="fa fa-fw fa-user"></i> {{ page.collaborators }}
            </p>
            {% endif %}
            {% if page.license %}
            <p class="lead">
                <i class="fa fa-fw fa-bank"></i> {{ page.license }}
            </p>
            {% endif %}
            {% if page.retired %}<p class="lead"><i class="fa fa-fw fa-info"></i> Retired Project</a></p>{% endif %}
            <p class="lead">
                {% for technology in page.technologies %}
                <span class="inline-list-item"><i
                        class="fa fa-fw fa-circle technology-{{technology | slugify: "ascii"}}"></i>
                    {{technology}}</span>
                {% endfor %}
            </p>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="content">
                {{content}}
            </div>
        </div>
    </section>
    {% include footer.html %}
    {% include foot.html %}
</body>

</html>